@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
    background-color: #f3f4f6;
}

.navigation {
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-logo {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
}

.logo {
    font-family: 'Rubik', cursive;
    margin-left: -2px;
    width: max-content;
}

.navigation-links {
    max-width: 428px;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.navigation-links a{
    color: darkgrey;
    font: normal 700 1.1em 'PT Sans';
}

.navigation-links a:first-child {
    color: #000;
}

.button {
    margin-right: 20px;
    border: none;
    padding: 1rem 1.4em;

    font-family: 'PT Sans';
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

.sign {
    border: 1px solid #000;
    background: none;
}

.send {
    background-color: #000;
    color: #fff;
}

/* Parte Central */

main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    margin-bottom: 3rem;
}

section, aside {
    margin-top: 3rem;
}

.main-section {
    display: flex;
    flex-direction: column;

    padding-right: 0 2em;
}

.section-link {
    height: fit-content;
    width: fit-content;
    color: #000;
    background-color: gray;
    padding: 0.75rem 1.15em;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
}

.main-section h1 {
    font-family: 'PT Sans', cursive;
    font-size: 3.8em;
}

.main-section div {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
}

.section-description {
    color: darkgrey;
    width: 26rem;
    font-family: 'Rubik', cursive;
    font-size: 0.9em;
    margin-top: 1.6rem;
}

.button-section {
    border: 1px solid #0388cd;
    color: #0388cd;
    cursor: pointer;
}

.main-section img {
    background-color: #0388cd;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 0.6em;
    padding-left: 3px;
}

.main-section div p {
    font-family: 'Rubik';
    font-size: 0.8em;
}

aside {
    display: flex;
    justify-content: center;
}

aside img {
    width: 70%;
}

.section-services {
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 6.5rem;
}

.section-services h4 {
    font-size: 1.5em;
    font-family: 'PT Sans';
    margin-bottom: 1rem;
    color: #70b5e8;
}

.section-services h1 {
    width: 90%;
    font-size: 2.8em;
    font-family: 'Rubik';
    margin: 0 auto 4rem;
}

.section-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.card {
    width: 20em;
    height: 18rem;
    background-color: #fff;
    padding: 1.5em 2.5em;
    text-align: left;
    font-family: 'Rubik';
    box-shadow: 0.4px 0 8px rgba(124, 123, 123, 0.253);
}

.card img, .card h3 {
    margin-bottom: 1rem;
    font-size: 1.8em;
    font-weight: 500;
}

.card img {
    width: 100px;
}

.section-product {
    width: 100%;
    grid-column: 1 / 3;
}

.section > div {
    text-align: center;
}

.section-product h4 {
    font-size: 1.5em;
    font-family: 'PT Sans';
    margin-bottom: 1rem;
    color: #70b5e8;
}

.section-product h1 {
    font-size: 2.2em;
    font-family: 'Rubik';
    margin: 0 auto 2rem;
}

.section-product p {
    color: darkgrey;
    font-family: 'Rubik', cursive;
    font-size: 1.1em;
    line-height: 30px;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    column-gap: 32px;
}

.product-cards {
    width: 100%;
    margin-top: 3rem;
    place-self: center;
}

.horizontal-card {
    background-color: #fff;
    width: 100%;
    min-height: 10rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 16px;
    padding: 1rem;
}

.horizontal-card:last-child {
    background: #0388cd;
}

.horizontal-card:nth-child(2) div:first-child{
    background-color: rgb(252, 252, 150);
}

.horizontal-card:nth-child(3) div:first-child{
    background-color: rgb(255, 255, 255);
}

.horizontal-card img {
    width: 100%;
    padding: 1rem;
}

.horizontal-card:first-child img {
    padding: 0;
}

.horizontal-card div:first-child {
    max-width: calc(5rem + 20%);
    background-color: rgba(144, 238, 144, 0.589);

    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-card div:last-child {
    width: 70%;
}

.horizontal-card h3 {
    margin-bottom: 1rem;
    font-family: 'Rubik';
}

.horizontal-card:last-child h3 {
    color: #fff;
}

.horizontal-card:last-child p {
    color: #b9bcc4;
}

.img-aside {
    position: relative;
}

.img-aside div {
    display: block;
    position: absolute;
    width: 18em;
    height: 18rem;
    background-color: #f3f4f6;
    z-index: 2;

    bottom: 0;
    left: 0;
}

.img-aside img {
    width: 100%;
    z-index: 0;
}

.img-aside div img {
    position: relative;
    top: 17%;
    width: 15em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.mario {
    font-family: 'Rubik',sans-serif;
    text-align: center;
    width: max-content;
}

.sinal {
    color: #0388cd;
}

.navigation-menu {
    display: none;
}

/* Responsividade  */

@media screen and (max-width: 767px) {
    body {
        padding: 0 1.6rem;
    }

    .navigation-links > a, .navigation-buttons {
       display: none;
    }

    .navigation-links {
        justify-content: flex-end;
    }

    .logo {
        font-size: 1em;
    }

    .navigation-logo img{
        width: 40px;
    }

    .navigation-menu {
        display: inline-block;
        cursor: pointer;
        width: 30px;
    }
    
    main {
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .main-section, .section-services, .section-product {
       width: 100%;
    }

    .main-section h1, .section-services h1, .section-product h1 {
        font-size: 2.4rem;
        padding-right: 0;
    }

    .section-description {
        width: 100%;
    }

    aside, .img-aside {
        display: none;
    }

    aside img {
        width: 100%;
        height: 50%;
    }

    .card {
        text-align: center;
        margin-bottom: 2rem;
    }

    .card h3 {
        font-size: 1.4rem;
    }

    .section-product {
        margin-bottom: 40px;
    }

    .product-cards {
        grid-column: 1 /3;

        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .horizontal-card {
        margin: 0 auto;
        width: 100%;
        max-width: 20rem;
        height: auto;
        padding: 2rem;

        align-items: center;
        flex-direction: column;
        gap: 16px
    }

    .horizontal-card img, .horizontal-card div:last-child, .horizontal-card div:first-child {
        width: 100%;
        height: auto;
    }

    .horizontal-card div:first-child img {
        max-width: 16rem;
        width: 100%;
        padding: 2rem;
    }

    .mario {
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .navigation-links > a, .navigation-buttons {
        display: none;
     }
 
    .navigation-links {
        justify-content: flex-end;
    }

    .navigation-menu {
        display: inline-block;
        cursor: pointer;
        width: 30px;
    }

    .main-section h1 {
        padding-right: 0.6rem;
    }

    aside img {
        object-fit: cover;
        width: 100%;
    }

    .products-container {
        margin: 3rem auto;
    }

    .product-cards {
        margin-top: 0;
    }

    .horizontal-card {
        height: max-content;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .horizontal-card:last-child {
        margin-bottom: 0;
    }

    .horizontal-card div {
        width: 100%;
    }

    .horizontal-card div:first-child {
        max-width: 12rem;
        width: 70%;
        height: auto;
    }

    .horizontal-card div:first-child img {
        width: 100%;
        padding: 1rem;
    }

    .horizontal-card:first-child div:first-child img {
        padding: 0;
    }

    .horizontal-card div:last-child {
        width: 100%;
    }

    .img-aside {
        margin: 0;
        overflow-x: hidden;
    }

    .img-aside div {
        display: none;
        position: absolute;
        width: 25%;
        /* height: 18rem; */
        background-color: #f3f4f6;
        z-index: 2;
    }
    

    .img-aside img {
        object-fit: cover;
        object-position: -5rem;
        width: 100%;
    }

    .img-aside div img {
        position: relative;
        /* top: 0; */
        width: 25%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

}